body {
    background-color: rgb(44, 44, 44);
    color: rgb(243, 243, 243);
    font-family: "Ubuntu", Tahoma, sans-serif
}

p {
    font-size: 48px;
}

mark.red {
    color: #ff0000;
    background-color: rgb(75, 75, 75);
}

summary {
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}

a {
    font-size: 40px;
    color: rgb(243, 243, 243);
    font-family: "Cantarell Light", "Calibri Light", "Ubuntu", Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 80px;
    text-align: center;
}

h3 {
    font-size: 80px;
    text-align: center;
    font-family: "Cantarell Light", "Calibri Light", "Ubuntu", Tahoma, sans-serif;
}

h4 {
    font-size: 40px;
    font-weight: normal;
    margin-left: 30px;
    font-family: "Cantarell Light", "Calibri Light", "Ubuntu", Tahoma, sans-serif;
}

#news {
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#links {
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#about {
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#jsklogo {
    max-height: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ribbon {
    --p: 8px;
    background-color: rgb(75, 75, 75);
    height: 150px;
    padding: 0 var(--p);
    width: 100%;
    position: relative;
    right: var(--p);
}

#projimg {
    max-height: 150px;
    max-width: 512px;
    margin-left: auto;
    margin-right: 15px;
    display: block;
}

#error {
    margin: auto;
    width: auto;
    padding: 10px;
    border: 5px solid #ff0000;
    text-align: center;
}

h5 {
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}


.center {
    margin: 0px;
    width: 100%;
}

#obsimg {
    max-height: auto;
    max-width: 100%;
}
