body {
    background-color: rgb(44, 44, 44);
    color: rgb(243, 243, 243);
    font-family: "Ubuntu", "Calibri Light", Tahoma, sans-serif;
}

p {
    font-size: 24px;
}

mark.red {
    color: #ff0000;
    background: none;
}

summary {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

a {
    font-size: 20px;
    color: rgb(243, 243, 243);
    text-align: center;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    margin-left: 30px;
}

h5 {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}

.news {
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    overflow-y: auto;
    width: 39.3%;
    height: 550px;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
}

#links {
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    overflow-y: auto;
    width: 20%;
    height: 550px;
    float: right;
    border-radius: 5px;
}

#about {
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: auto;
}

#jsklogo {
    max-height: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ribbon {
    --p: 8px;
    background-color: rgb(75, 75, 75);
    height: 75px;
    padding: 0 var(--p);
    width: 100%;
    position: relative;
    right: var(--p);
}

#projimg {
    max-height: 150px;
    max-width: 512px;
    margin-left: auto;
    margin-right: 15px;
    display: block;
  }

#error {
    margin: auto;
    width: 30%;
    padding: 10px;
    border: 5px solid #ff0000;
    text-align: center;
    border-radius: 5px;
}

h5 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}


.center {
    margin: auto;
    width: 70%;
    border: 5px solid rgb(75, 75, 75);
    padding: 10px;
    border-radius: 5px;
}

.obsimg {
    max-width: 100%;
}